.product-preview-card {
  &__title {
    font-style: bold;
    color: green;
    font-family: 'Arial Black', sans-serif;
  }

  &__description {
    color: blue;
    font-family: 'Comic Sans MS', sans-serif;
  }

  &__image {
    width: 10rem;
  }
}
