//colors
$lavender : #FFC4EB;
$green : #24D043;
$black : #000F08;

.login-page {

    &__auth {
        background-color: red;
        display: block;
        width: 300px;
        height: 50px;
        border-radius: 50px;
        
    }
}