//colors
$lavender : #FFC4EB;
$green : #24D043;
$black : #000F08;


.home-page {
  

  &__title {
    
    margin-top: 75px;
  }



  &__products {
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    gap: 15px; 

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
@media (prefers-color-scheme: dark) {
  .home-page {
    background-color: $black;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .home-page {
    background-color: white;
    color: $black;

  }

}