.home-page {
  &__title {
    color: red;
  }

  &__products {
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    gap: 15px; 

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
