//colors
$lavender : #FFC4EB;
$green : #24D043;
$black : #000F08;

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 75px;
  display: flex;
  align-items: center;
  position: fixed; // keeps nav bar at the top
  

&__authentication {
  width: 100px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50px;
  border-color: black;
  border-width: 3px;
  background-color: $lavender;
}

&__logo {

  width: 75px;
  height: 75px;
  margin-left: 15px;
  border-color: black;
  border-width: 3px;

}

}
