.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed; // keeps nav bar at the top

&__account {
  display: flex;
  gap: 25px;
}

&__authentication {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  
}

}
