//colors
$lavender : #FFC4EB;
$green : #24D043;
$black : #000F08;

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 75px;
  display: flex;
  align-items: center;
  position: fixed; // keeps nav bar at the top
  top: 0;
  

&__authentication {
  width: 100px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50px;
  border-color: green;
  border-width: 3px;
  background-color: $lavender;
}

&__logo {

  width: 75px;
  height: 75px;
  margin-left: 15px;
  border-color: green;
  border-width: 3px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: -2;

}

@keyframes example {
  0% {left:0px; top:0px;}
  50% {left:0px; top:1000px;}
  100% {left:0px; top:0px;}
}

@media (prefers-color-scheme: dark) {
  &__authentication {
    border-color: white;
  }
}

}

img { 
  width: 75px;
  height: 75px;
}